.change-password .title {
    font-weight: bold;
}
.change-password .input-title {
    display: inline-block;
}
.change-password input {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}