.settings .user-info .title {
    font-size: 120%;
    font-weight: bold;
}
.settings .user-info .key {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.settings .user-info .value {
    display: inline-block;
}
.settings .input-title {
    width: 100px
}