.header {
    display: flow-root;
}
.header .menu {
    display: inline-block;
    cursor: pointer;
}
.header .menu .logo {
    font-weight: bold;
    font-size: 200%;
    margin-right: 10px;
    margin-left: 10px;
}
.header .menu button {
    margin-right: 10px;
}
.header .auth {
    display: inline-block;
    float: right;
}
.header .auth .current-user-card {
    display: inline-block;
}
.header .auth .buttons {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.header .auth .buttons button {
    width: -webkit-fill-available;
    display: inline-block;
}